<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Movie: view</title>
</head>
<body>
	<a href="#" th:href="@{/movies}" th:text="#{back.to.list}">Back</a>

	<h1 th:text="#{view.title}">View movie</h1>

	<fieldset th:object="${movie}">
		<p>
			<div th:text="#{movie.director.label}">Director:</div>
			<div th:text="*{director}">ddd</div>
		</p>
		<p>
			<div th:text="#{movie.title.label}">Title:</div>
			<div th:text="*{title}">ddd</div>
		</p>
		<p>
			<div th:text="#{movie.genre.label}">Genre:</div>
			<div th:text="*{genre}">ddd</div>
		</p>
		<p>
			<div th:text="#{movie.rating.label}">Rating:</div>
			<div th:text="*{rating}">ddd</div>
		</p>
	</fieldset>
	
	<form action="#" th:object="${newComment}" 
		th:action="@{'/movies/' + ${movie.slug} + '/addcomment'}" 
		method="post">
          	
         <ul th:if="${#fields.hasErrors('*')}" class="error">
        	<li th:each="err : ${#fields.errors('*')}" th:text="#{${err}}">Input is incorrect</li>
   		</ul>
   
		<fieldset>
			<p>
				<label th:for="${#ids.next('author')}" th:text="#{movie.comment.author}">Director:</label>
    				<input type="text" th:field="*{author}" th:class="${#fields.hasErrors('author')}? 'error'"/>
			</p>
			<p>
				<label th:for="${#ids.next('content')}" th:text="#{movie.comment.content}">Title:</label>
    			<textarea rows="2" th:field="*{content}" th:class="${#fields.hasErrors('content')}? 'error'"></textarea>
			</p>	
       		<button type="submit" th:text="#{post.label}">Post comment</button>
     		</fieldset>
	</form>
	
	<hr />
	
	<table>
		<tr th:each="comm : ${movie.getComments()}">
			<td th:text="${comm?.author}">author</td>
			<td th:text="${comm?.content}">content</td>
			<td th:text="${comm?.postedAt}">posted At</td>
		</tr>
	</table>
</body>
</html>