<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Login</title>
</head>
<body>
		<div class="ym-grid linearize-level-1">
			<div class="ym-g50 ym-gl">
				<div class="ym-gbox-left">
					<h3 th:text="#{login.title}">Login</h3>
					<p>	
						New user? <a href="#" th:href="@{/auth/signup}">Sign up here</a> (FREE)
					</p>
					
					<div th:if="${param?.login_error}" class="box error">
						<span th:text="#{error.login.not.valid}"></span>
					</div>
					
					<form class="ym-form" action="#" th:action="@{/spring-mvc-movies/j_spring_security_check}" method="post">
						<div class="ym-fbox-text">
							<label for="j_username" th:text="#{login.username}">Username:</label>
	  						<input type="text" name="j_username" id="j_username" size="20" />
  						</div>
  						
  						<div class="ym-fbox-text">
							<label for="j_password" th:text="#{login.password}">Password:</label>
	  						<input type="password" name="j_password" id="j_password" size="20" />
  						</div>
  						
  						<div class="ym-fbox-check">
  							<input type="checkbox" name="_spring_security_remember_me" id="_spring_security_remember_me" />
  							<label for="_spring_security_remember_me" th:text="#{login.remember.me}">Remember me</label>
						</div>
						
						<div class="ym-fbox-button">
							<input type="submit" class="ym-button" id="submit" value="login" name="submit" th:value="#{login.button.label}" />
							<input type="reset" class="ym-button" id="reset" value="reset" name="reset" th:value="#{reset.button.label}" />
						</div>
					</form>
				</div>
				</div>
			</div>
			<div class="ym-g50 ym-gr">
				<div class="ym-gbox-right">
					
			</div>
		</div>
</body>
</html>