<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div class="ym-grid linearize-level-1">
		<div class="ym-column linearize-level-1">
			<div class="ym-col1">
				<div class="ym-cbox">
					<section class="box info">
						<h2 th:text="#{home.welcome}">Welcome to Spring Movies!</h2>
						<p th:text="#{home.presentation}"></p>
					</section>
					<section class="ym-grid linearize-level-2">
						<article class="ym-g40 ym-gl">
							<div class="ym-gbox">
								<h3 th:text="#{home.sidebar.title}">Browse movies</h3>
								<p th:text="#{home.sidebar.text}"></p>
							</div>
						</article>
						<article class="ym-g60 ym-gr">
							<div class="ym-gbox">
								<h3 th:text="#{signup.title.label}">New user? Sign up</h3>
								<form class="ym-form">
									<div class="ym-fbox-text">
									  	<label for="emailAddress" th:text="#{signup.email.label}">Email address</label>
									  	<input type="text" name="emailAddress" id="emailAddress" size="50" />
									</div>
									<div class="ym-fbox-text">
									  	<label for="displayName" th:text="#{signup.displayName.label}">displayName</label>
									  	<input type="text" name="displayName" id="displayName" size="50" />
									</div>
									<div class="ym-fbox-text">
									  	<label for="password" th:text="#{signup.password.label}">password</label>
									  	<input type="password" name="password" id="password" size="50" />
									</div>
									<div class="ym-fbox-button">
										<input type="submit" class="ym-button" value="submit" id="submit" name="submit" />
										<input type="reset" class="ym-button" value="reset" id="reset" name="reset" />
									</div>
								</form>
							</div>
						</article>
					</section>
				</div>
			</div>
			<aside class="ym-col3">
				<div class="ym-cbox">
					<h2>Movies</h2>
					<h4>Last update</h4>
					<div class="ym-contain-dt">
						<img src="http://dummyimage.com/128x128/cccccc/fff.png" alt="ads"
							class="float-left bordered" /> <img
							src="http://dummyimage.com/128x128/cccccc/fff.png" alt="ads"
							class="float-left bordered" /> <img
							src="http://dummyimage.com/128x128/cccccc/fff.png" alt="ads"
							class="float-left bordered" /> <img
							src="http://dummyimage.com/128x128/cccccc/fff.png" alt="ads"
							class="float-left bordered" /> <img
							src="http://dummyimage.com/128x128/cccccc/fff.png" alt="ads"
							class="float-left bordered" /> <img
							src="http://dummyimage.com/128x128/cccccc/fff.png" alt="ads"
							class="float-left bordered" />
					</div>
				</div>
			</aside>
		</div>
	</div>
</body>
</html>
