<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:tiles="http://www.thymeleaf.org"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org"
      lang="en">

<head>
    <title>MyDemo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="NerdMovies: a spring mvc sample" />
    <meta name="author" content="Carlo Micieli" />
    <link rel="stylesheet" type="text/css"
          href="#"
          th:href="@{/resources/css/bootstrap.css}" />
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>
    <link rel="stylesheet" type="text/css"
          href="#"
          th:href="@{/resources/css/bootstrap-responsive.css}" />
</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">NERD::MOVIES</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">Movies</a></li>
                    <li><a href="#contact">Events</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li class="nav-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>

                <span sec:authorize="hasRole('ROLE_ANONYMOUS')">
                    <form class="navbar-form pull-right" th:action="@{/auth/authenticate}" method="POST">
                        <input class="span2" type="text" id="username" placeholder="Email" />
                        <input class="span2" type="password" id="password" placeholder="Password" />
                        <button type="submit" class="btn">Sign in</button>
                    </form>
                </span>

                <span sec:authorize="hasRole('ROLE_USER')" th:if="${#authentication}">
                    <a href="@{/logout}">Logout</a>
                </span>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

<div id="page" class="container">
    <div tiles:include="body">

        BODY PAGE GOES HERE!

    </div>

    <hr />

    Developed by <strong>Carlo Micieli</strong>
</div>
</body>
</html>